<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
   <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Store Book</title>
</head>

<body>

	<div class="container">
	
		<h3>Book Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Store a Book</p>
	
		<form action="#" th:action="@{/storeBook}"
						 th:object="${book}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{bookId}" />
			
			<input type="text" th:field="*{ISBN}"
					class="form-control mb-4 col-4" placeholder="ISBN">
					
			<input type="text" th:field="*{title}"
					class="form-control mb-4 col-4" placeholder="Title">

			<input type="text" th:field="*{author}"
					class="form-control mb-4 col-4" placeholder="Author">

			<input type="text" th:field="*{genre}"
					class="form-control mb-4 col-4" placeholder="Genre">
					
					
					
					
				
			<button type="submit" class="btn btn-info col-2">Store</button>
						
		</form>
	

	</div>
</body>

</html>



